<div class="container">
  <div class"row">
    <div class="mt-5">
      <span class="mt-5 mb-3">
        <strong>投稿一覧</strong>
      </span>
    </div>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="mt-3 mr-3">
          <%= link_to post_path(post.id) do %>
            <% if post.images.attached? %>
              <%= image_tag post.images.first, size: "250x150" %>
            <% end %>
          <% end %>
        </div>
        <div class="mt-3 mr-3">
          <%= post.name %>
        </div>
        <div class="mt-3 mr-3 ">
          <%= post.address %>
        </div>
          <% post.tags.each do |tag| %>
            <span class="badge bg-primary text-white">
              <%= tag.name %>
            </span>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="mt-5">
      <%= paginate @posts %>
    </div>
  </div>
</div>