<div class="container">
  <div class="row">
    <div class="col-4 px-sm-0 px-5 mt-5">
      <h2>マイページ</h2>
      <div class="mt-5">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "200x100" %>
        <% else %>
           <%= image_tag 'no_image', size: "200x100" %>
        <% end %>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <th>ニックネーム</th>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <th>プロフィール</th>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="actions mt-5">
          <%= link_to "編集する", edit_user_path, class: "btn btn-sm btn-success"%>
          <%= link_to "退会する", users_confirm_path, class: "btn btn-sm btn-danger ml-3" %>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5 ">
      <div class="row justify-content-center">
        <h2>投稿一覧</h2>
        <table class="table ml-2">
          <div class="row">
            <tbody>
              <% @user_posts.each do |user_post| %>
                <tr>
                  <td class="col-3">
                    <%= link_to post_path(user_post.id) do %>
                      <% if user_post.images.attached? %>
                        <%= image_tag user_post.images.first, size: "60x40" %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="col-9">
                    <%= user_post.name %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </div>
        </table>
      </div>
    </div>
    <div class="col-4 mt-5 ">
      <div class="row justify-content-center">
        <h2>ブックマーク</h2>
        <table class="table">
          <% current_user.favorites.each do |favorite| %>
            <tr>
              <td>
                <%= link_to post_path(favorite.post.id) do %>
                  <%= image_tag favorite.post.images.first, size: "60x40" %>
                <% end %>
              </td>
              <td><%= favorite.post.name %></td>
              <td id="favorite_button_<%= favorite.post.id %>">
                <%= render partial: 'users/favorites/button', locals: {post: favorite.post} %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>

  </div>
</div>