<div class="container">
  <div class="mt-3 mb-3">
    <span class="bg-light ml-5 px-1">
      <strong>会員一覧</strong>
    </span>
  </div>

  <div class="row">
    <table class= "table">
  　  <thead class="bg-light" >
       <tr><th>会員ID</th><th>ニックネーム</th><th>メールアドレス</th><th>ステータス</th></tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="col-2">
              <%= user.id %>
            </td>

            <td class="col-2">
              <%= user.nickname %>
            </td>

            <td class="col-4">
              <%= user.email %>
            </td>

            <td class="col-4">
              <% if user.is_deleted %>
                <%= link_to "退会", admins_user_change_deleted_path(user) %>
              <% else %>
                <%= link_to "有効", admins_user_change_deleted_path(user) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center">
    <div>
      <%= paginate @users %>
    </div>
  </div>
</div>