<div class="container">
  <div class="mt-3 mb-3">
    <div class="row">
      <div class="col-6 px-5 px-sm-0">
        <div class="row">
          <div class="col-8">
            <div class="text-center mt-2 slider">
              <% @post.images.each do |image| %>
                <div>
                  <%= image_tag image, size: "300x200", class: "d-inline-block" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="row justify-content-center">
          <div class="mt-2 ml-3" id="favorite_button_<%= @post.id %>">
            <i class="fa-solid fa-bookmark"></i> <%= @post.favorites.count %>
          </div>
          <div class="mt-2 ml-3 ">
            <% @post.tags.each do |tag| %>
              <span class="badge bg-primary text-white">
                <%= tag.name %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="mt-3">
          絶景名：<strong><%= @post.name %></strong>
        </div>

        <div class="mt-3 ml-3">
          詳細：<%= @post.body %>
        </div>


        <div id='map' class="mt-3"></div>
          <style>
          #map {
            height: 200px;
            width: 400px;
          }
          </style>

        <script>
        let map
        let geocoder

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat:<%= @post.latitude %>, lng:<%= @post.longitude %>},
            zoom: 12,
          });

          marker = new google.maps.Marker({
            position:  {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
            map: map
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClyIWpGrndDCr7or3wuRPX9hs0cXguxAI&callback=initMap" async defer></script>


        <div class="mt-2">
          住所：<%= @post.address %>
        </div>

        <div class="actions mt-3 ml-5">
          <div class="row justify-content-center">
            <%= link_to "削除する", admins_post_path(@post.id), method: :delete,　data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
          </div>
        </div>
      </div>

      <div class="col-6 mt-3">
        <div class="row justify-content-center">
          <h2>コメント</h2>
          <table class="table mt-3 ml-2">
            <% @post.post_comments.each do |post_comment| %>
              <tr>
                <td class="col-3 bg-light"> <%= @post.user.nickname %> </td>
                <td class="col-7"> <%= post_comment.body %> </td>
                <td class="col-2">
                  <%= link_to "削除", admins_post_comment_path(post_comment.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
